{
	"success": true,
	"message": "success",
	"rules": {
		"ajaxInterceptor_rules": [{
			"filterType": "regex",
			"key": "14505645-5587-438c-b15e-0db93b81d7eb65",
			"match": "validateesignoreidaotp",
			"overrideTxt": "{\"Success\":true,\"Errors\":null,\"IsPersonExemptedForBiometric\":0}",
			"switchOn": true
		}, {
			"filterType": "regex",
			"key": "14505645-5588-438c-b15e-8db63b81d7eb1",
			"match": "validatebiometricEida*",
			"overrideTxt": "auto",
			"switchOn": true
		}, {
			"filterType": "regex",
			"key": "14505645-5587-438c-b15e-0db93b81d7eb5",
			"match": "usertransactionscount",
			"overrideTxt": "{\"success\":true,\"userTransactions\":{\"Draft\":0,\"Pending\":100,\"Completed\":200}}",
			"switchOn": false
		}, {
			"filterType": "regex",
			"key": "14505645-5588-438c-b15e-0db93b81d7eb2",
			"match": "vices\\\/\\w*\\\/\\d*\\?id",
			"overrideTxt": ":",
			"switchOn": false
		}, {
			"filterType": "regex",
			"key": "14505645-5588-438c-b15e-0db73b81d7eb3",
			"match": "WPCancellation\\\/4\\?id",
			"overrideTxt": "auto",
			"switchOn": true
		}, {
			"filterType": "regex",
			"key": "14505645-5588-438c-b185e-0db73b81d7eb3",
			"match": "WPCancellation\\\/wizardlaststep",
			"overrideTxt": "auto",
			"switchOn": true
		}, {
			"filterType": "regex",
			"key": "14505645-5588-438c-b185e-0db73b81d79eb3",
			"match": "CancellationSubmission",
			"overrideTxt": "auto",
			"switchOn": true
		}, {
			"filterType": "regex",
			"key": "14505645-5588-438c-b185e-0db873b81d79eb3",
			"match": "renewelectronicstepssave",
			"overrideTxt": "auto",
			"switchOn": true
		}, {
			"filterType": "regex",
			"key": "14505645-5588-48c-b185e-0db873b81d79eb3",
			"match": "NewElectronicWorkPermit",
			"overrideTxt": "auto",
			"switchOn": true
		}, {
			"filterType": "regex",
			"key": "14505645-5588-438c-b185e-0d0b873b81d79eb3",
			"match": "submitrenewLC",
			"overrideTxt": "auto",
			"switchOn": true
		}],
		"ajaxInterceptor_switchOn": true,
		"version": "4.2"
	}
}
